<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BlogMapper">
	<select id="getList" resultType="org.zerock.domain.BlogVO">
		<![CDATA[
			select * from blog_board where boardwriter = #{boardwriter}
		]]>
	</select>
	
	<insert id="insert">
		insert into blog_board (boardwriter, boardtitle, boardcontent, boardbno) 
		values (#{boardwriter}, #{boardtitle}, #{boardcontent}, (select nvl(max(boardbno)+1, 1) from blog_board))
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BlogVO">
		select * from blog_board where boardbno = #{boardbno}
	</select>
	
	<update id="update">
		update 
	</update>
</mapper>